<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs1uB9X65B8I9JnKWUXUzTVw84Np8xeB4</string>
	<key>GCM_SENDER_ID</key>
	<string>825370705029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirphilipkorea.app</string>
	<key>PROJECT_ID</key>
	<string>sir-philip-korea</string>
	<key>STORAGE_BUCKET</key>
	<string>sir-philip-korea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825370705029:ios:0542c15c9fc0f738363dec</string>
</dict>
</plist>